<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ellomix.android.ellomix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".facebookActivity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".SoundCloudAPI.SCMusicService" />

        <activity android:name=".ChatListActivity" />
        <activity android:name=".ScreenSlidePagerActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".TimelineActivity" />

        <service android:name=".SoundCloudAPI.SCMusicService" />

        <activity android:name=".SignedInActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SpotifyActivity"></activity>
        <activity android:name=".ChatActivity" />
        <activity android:name=".ProfileActivity" />

        <service android:name=".SoundCloudAPI.SCMusicService" />

        <!-- <activity -->
        <!-- android:name="com.spotify.sdk.android.authentication.WebAuthResultActivity" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW"/> -->


        <!-- <category android:name="android.intent.category.DEFAULT"/> -->
        <!-- <category android:name="android.intent.category.BROWSABLE"/> -->


        <!-- <data -->
        <!-- android:host="callback" -->
        <!-- android:scheme="testschema"/> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity android:name=".SignUpActivity"></activity>
    </application>

</manifest>