<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ellomix.android.ellomix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Activities.facebookActivity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activities.ChatListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ScreenSlidePagerActivity"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity
            android:name=".Activities.TimelineActivity"
            android:screenOrientation="portrait" />
        <service android:name=".SoundCloudAPI.SCMusicService" />

        <service android:name=".Services.MusicService" />


        <activity
            android:name=".Activities.SignedInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".SoundCloudAPI.SCMusicService" />

        <!-- <activity -->
        <!-- android:name="com.spotify.sdk.android.authentication.WebAuthResultActivity" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW"/> -->

        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SpotifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:screenOrientation="portrait" />

        <!-- <activity -->
        <!-- android:name="com.spotify.sdk.android.authentication.WebAuthResultActivity" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW"/> -->

        <!-- <category android:name="android.intent.category.DEFAULT"/> -->
        <!-- <category android:name="android.intent.category.BROWSABLE"/> -->


        <!-- <data -->
        <!-- android:host="callback" -->
        <!-- android:scheme="testschema"/> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ConnectSocialMediaActivity" />
        <activity android:name=".PopulateTimelineActivity" />
        <activity android:name=".InviteActivity" />
        <activity android:name=".AddPhotoActivity"></activity>

        <activity android:name=".Activities.CommentsActivity" />

        <activity android:name=".Activities.NewMessageActivity"></activity>
        <activity android:name=".Activities.NewMessageActivity" />
        <activity android:name=".Activities.FriendSearchActivity" />
        <activity android:name=".Activities.AddMusicActivity" />
        <activity android:name=".Activities.GroupPlaylistActivity" />
        <activity android:name=".YoutubeAPI.YTPlayerActivity"></activity>

    </application>

</manifest>